body {
  display: flex;
  justify-items: center;
  flex-direction: column;
  height: 300px;
  width: 200px;
};

#calculatorBody {
    display: flex;
    flex-direction: column;
    min-height: 100%;
};

#answerDisplay {
    display: flex;
    flex-direction: column;
    min-height: 75px;
    width: 200px;
};

#buttonContainer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    min-height: 100px;
    align-content: center;
    align-items: center;
    justify-content: center;
}