body {
    display: flex;
    justify-items: center;
    flex-direction: column;
    height: 300px;
    width: 200px;
}

;

#calculatorBody {
    display: flex;
}

#calculatorBody {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

;

#answerDisplay {
    display: flex;
    flex-direction: column;
    min-height: 75px;
    width: 200px;
}

;

#buttonContainer {
    display: flex;
    flex-wrap: wrap;
    flex: 0 0 33%;
    flex-direction: row;
    min-height: 100px;
    align-content: center;
    align-items: center;
    justify-content: center;
}

.numbers {
    display: flex;
}

.numbersOneThruNine {
    display: flex;
    flex-wrap: wrap;
    flex: 0 0 33%;
    flex-direction: row;
    align-content: center;
    min-height: 100%;
    justify-content: center;
    padding: 2px;
    margin: 2px;
}