body {
    display: flex;
    justify-items: center;
    flex-direction: column;
    height: 300px;
    width: 200px;
}



#answerDisplay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 75px;
    width: 200px;
    border-color: black;
    border-width: 2px;
    background-color: beige;
}

#rowOneButtons {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

#rowTwoButtons {
    display: flex;
    justify-content: center;
    flex-direction: row;
}